@{
    ViewData["Title"] = "Conference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/images/c5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>

    <h1>Conferences Events</h1>

    <div id="events-list">
        <div class="event-item">
            <img src="/images/c1.jpg" alt="Jazz Night">
            <div>
                <h2>CES</h2>
                <p>Showcasing innovations in consumer electronics and IoT.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="event-item">
            <img src="/images/c2.jpg" alt="Rock Fest">
            <div>
                <h2>IEEE ICC</h2>
                <p> Focused on communication networks and Industry 5.0.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="event-item">
            <img src="/images/c4.JPG" alt="Classical Symphony">
            <div>
                <h2>Smart Home Expo </h2>
                <p>Dedicated to smart home automation solutions.</p>
                <button>Learn More</button>
            </div>
        </div>
    </div>

</body> 