@{
    ViewData["Title"] = "Workshop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/images/c6.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>

    <h1>cultural Events</h1>

    <div id="events-list">
        <div class="event-item">
            <img src="/images/cu1.jpeg" alt="Jazz Night">
            <div>
                <h2>Heritage Festival</h2>
                <p>Showcasing traditional music, dance, and cuisine.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="event-item">
            <img src="/images/cu5.jpeg" alt="Rock Fest">
            <div>
                <h2>Global Village Fair</h2>
                <p>Celebrating global arts, crafts, and performances.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="event-item">
            <img src="/images/cu2.jpeg" alt="Classical Symphony">
            <div>
                <h2>Folk Arts Fiesta </h2>
                <p>Featuring folk dances, storytelling, and crafts.</p>
                <button>Learn More</button>
            </div>
        </div>
    </div>

</body>