@{
    ViewData["Title"] = "Sport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body{
        background-image: url('/images/s4.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>

    <h1>Sport Events</h1>

    <div id="events-list">
        <div class="event-item">
            <img src="/images/s1.jpeg" alt="Jazz Night">
            <div>
                <h2>Summer Sports Spectacular:</h2>
                <p>A vibrant event with athletics and beach volleyball, celebrating sports.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="event-item">
            <img src="/images/s3.jpg" alt="Rock Fest">
            <div>
                <h2>Ultimate Adventure Games:</h2>
                <p>An adrenaline-packed festival with rock climbing and obstacle courses.</p>
                <button>Learn More</button>
            </div>
        </div>

        <div class="event-item">
            <img src="/images/IMG_9089.JPG" alt="Classical Symphony">
            <div>
                <h2>Global Winter Sports Festival: </h2>
                <p>A winter sports celebration featuring skiing,and international competitions.</p>
                <button>Learn More</button>
            </div>
        </div>
    </div>

</body>